@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
       

        <div class="content" style="margin-top: 0rem; margin-bottom: 1rem;">
            @Body
        </div>
    </main>
</div>

<div class="card mt-5">
    <div class="top-row px-4">
        <footer>
            <p>© 2025 Kitter</p>
        </footer>
    </div>
</div>
