@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProyectoFinalAp1</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/Producto/Index">
                <span class="bi bi-cart4 me-3 fs-5 mb-3" aria-hidden="true"></span> Productos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="Producto/IndexAdmin">
                <span class="bi bi-cart4 me-3 fs-5 mb-3" aria-hidden="true"></span> Productos-Admin
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/Mascota/Index">
                <span class="bi bi-heart-fill me-3 fs-5 mb-3" aria-hidden="true"></span> Mascotas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/Mascota/IndexAdmin">
                <span class="bi bi-heart-fill me-3 fs-5 mb-3" aria-hidden="true"></span> Mascotas-Admin
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/Citas/Index">
                <span class="bi bi-calendar-check-fill me-3 fs-5 mb-4" aria-hidden="true"></span> Citas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/Empleados/Index">
                <span class="bi bi-briefcase-fill me-3 fs-5 mb-4" aria-hidden="true"></span> Empleados
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/Proveedores">
                <span class="bi bi-bookmark-fill me-3 fs-5 mb-4" aria-hidden="true"></span> Proveedores
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/Donadores">
                <span class="bi bi-chat-left-heart-fill me-3 fs-5 mb-4" aria-hidden="true"></span> Donadores
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

