@page "/"

<div class="pet-shop">
    <section class="section hero has-bg-image" id="home" aria-label="home" style="background-image: url('imagenes/hero-banner.jpg');">
        <div class="container">
            <h1 class="h1 hero-title font-weight-bold text-white" style="font-weight: bold; font-size: 4rem">
                Comida para mascotas de Alta Calidad
            </h1>
            <p class="hero-text" style="color:white">Oferta de hasta 40% de descuento hoy</p>
            <a href="/Producto/Index" class="btn btn-primary bg-black d-flex justify-content-center" 
            style="color:white">Compra ahora</a>
        </div>
    </section>

    <section class="section category" aria-label="category">
        <div class="container">
            <h1 class="h2 section-title" style="font-size: 1.4rem">
                <span class="span" style="color:darkorange; font-size:1.5rem">Top</span> Categorias
            </h1>
            <ul class="has-scrollbar">

                <li class="scrollbar-item">
                    <div class="category-card">
                        <figure class="card-banner img-holder" style="--width: 300; --height: 250;">
                            <img src="productos/alimento/comida para perros.jpg" width="200" height="200" loading="lazy" alt="Cat Food" class="img-cover">
                        </figure>
                        <h3 class="h3">
                            <a href="#" class="card-title">Alimentos</a>
                        </h3>
                    </div>
                </li>

                <li class="scrollbar-item">
                    <div class="category-card">
                        <figure class="card-banner img-holder" style="--width: 330; --height: 200;">
                            <img src="productos/jugetes/baloncesto para aves.jpg" width="200" height="200" loading="lazy" alt="Cat Food" class="img-cover">
                        </figure>
                        <h3 class="h3">
                            <a href="#" class="card-title">Jugetes</a>
                        </h3>
                    </div>
                </li>

                <li class="scrollbar-item">
                    <div class="category-card">
                        <figure class="card-banner img-holder" style="--width: 300; --height: 250;">
                            <img src="productos/medicina/antiinflamatorios.jpg" width="200" height="200" loading="lazy" alt="Cat Food" class="img-cover">
                        </figure>
                        <h3 class="h3">
                            <a href="#" class="card-title">Medicamentos</a>
                        </h3>
                    </div>
                </li>

                <li class="scrollbar-item">
                    <div class="category-card">
                        <figure class="card-banner img-holder" style="--width: 300; --height: 250;">
                            <img src="productos/accesorios/cama para perros.jpg" width="200" height="200" loading="lazy" alt="Cat Food" class="img-cover">
                        </figure>
                        <h3 class="h3">
                            <a href="#" class="card-title">Accesorios</a>
                        </h3>
                    </div>
                </li>
                
            </ul>
        </div>
    </section>
</div>

@code {
}