.bg-orange {
    background-color: #FF8000 !important;
    color: white !important;
}

.btn-orange {
    background-color: #778899 !important;
    border-color: #778899 !important;
    color: white !important;
}

    .btn-orange:hover {
        background-color: #B0C4DE !important;
        border-color: #778899 !important;
    }

.table-orange th {
    background-color: #FF8000 !important;
    color: white !important;
}

.search-container {
    max-width: 800px;
    margin: 0 auto;
}
